<!DOCTYPE html>
<html>
  <head>
    <title> curriculum </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <body>
      <main class="main-content">
          <section class="left-section">
              <div class="left-content">
                  <div class="profile">
                      <div class="image">
                          <img src="images/mt.jpg" />
                      </div>
                      <h2 class="name">Yender Osorio</h2>
                      <p class="career">Systems Engineer</p>
                  </div>
                  <div class="contact-info">
                      <h3 class="main-title">Contact Info</h3>
                      <ul>
                          <li>
                              <i class="fa fa-phone"></i>
                              04242135364
                          </li>
                          <li>
                              <i class="fa fa-fax"></i>
                              hernandezyender04@gmail.com
                          </li>
                          <li>
                              <i class="fa fa-globe"></i>
                              www.hernandezyender.com
                          </li>
                          <li>
                              <i class="fa fa-facebook"></i>
                              www.facebook.com/Yender
                          </li>
                          <li>
                              <i class="fa fa-instagram"></i>
                              @yenderoso
                          </li>
                          <li>
                              <i class="fa fa-map-marker"></i>
                              San Juan de los morros, Venezuela
                          </li>
                      </ul>
                  </div>
                  <div class="skills-section">
                      <h3 class="main-title">Skills</h3>
                      <ul>
                          <li>
                              <p class="skill-title">Javascript</p>
                              <div class="progress-bar">
                                  <div class="progress js-progress"></div>
                              </div>
                          </li>
                          <li>
                              <p class="skill-title">Photoshop</p>
                              <div class="progress-bar">
                                  <div class="progress ps-progress"></div>
                              </div>
                          </li>
                          <li>
                              <p class="skill-title">Java</p>
                              <div class="progress-bar">
                                  <div class="progress j-progress"></div>
                              </div>
                          </li>
                          <li>
                              <p class="skill-title">C++</p>
                              <div class="progress-bar">
                                  <div class="progress c-progress"></div>
                              </div>
                          </li>
                          <li>
                              <p class="skill-title">Ruby</p>
                              <div class="progress-bar">
                                  <div class="progress ps-progress"></div>
                              </div>
                          </li>
                          <li>
                              <p class="skill-title">Node js</p>
                              <div class="progress-bar">
                                  <div class="progress n-progress"></div>
                              </div>
                          </li>
                          <li>
                              <p class="skill-title">html/css</p>
                              <div class="progress-bar">
                                  <div class="progress ps-progress"></div>
                              </div>
                          </li>
                          <li>
                              <p class="skill-title">illustrator</p>
                              <div class="progress-bar">
                                  <div class="progress ps-progress"></div>
                              </div>
                          </li>
                          <li>
                              <p class="skill-title">Wordpress</p>
                              <div class="progress-bar">
                                  <div class="progress ps-progress"></div>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div class="references-section">
                      <h3 class="main-title">References</h3>
                      <div class="referee">
                          <h6 class="sub-title">Michael Bowen</h6>
                          <p class="sub-para">Product Manager</p>
                          <ul>
                              <li>
                                  <i class="fa fa-phone"></i>
                                  07661892982
                              </li>
                              <li>
                                  <i class="fa fa-fax"></i>
                                  loremipsum@gmail.com
                              </li>
                          </ul>
                      </div>
                      <div class="referee">
                          <h6 class="sub-title">Joseph Kumar</h6>
                          <p class="sub-para">Senior Developer</p>
                          <ul>
                              <li>
                                  <i class="fa fa-phone"></i>
                                  07661892982
                              </li>
                              <li>
                                  <i class="fa fa-fax"></i>
                                  loremipsum@gmail.com
                              </li>
                          </ul>
                      </div>
                      <div class="referee">
                          <h6 class="sub-title">Rick Ross</h6>
                          <p class="sub-para">Product Manager</p>
                          <ul>
                              <li>
                                  <i class="fa fa-phone"></i>
                                  07661892982
                              </li>
                              <li>
                                  <i class="fa fa-fax"></i>
                                  loremipsum@gmail.com
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              
               
          </section>
          <section class="right-section">
              <div class="right-main-content">
                  <section class="about sect">
                      <h2 class="right-title">About Me</h2>
                      <p class="para">
                        It is very important for the customer to pay attention to the adipiscing process. Some people are easily bothered by any kind of pain. The distinction, and the whole, is said to be laborious by the pains itself, or by things, by trouble. <br>
                          <br>
                          The company itself is a very successful company. As an architect, he continues. Nothing is softened by flattery, when pleasures are rejected with hatred, and no repudiation is obtained by the mere effort of rejecting those whom we accuse by reason.
                      </p>
                  </section>
    
                  <section class="experince sect">
                      <h2 class="right-title">Experience</h2>
                      <div class="timeline">
                          <div class="left-tl-content">
                              <h5 class="tl-title">Microsoft</h5>
                              <p class="para">2021 - 2023</p>
                          </div>
                          <div class="right-tl-content">
                              <div class="tl-content">
                                  <h5 class="tl-title-2">Junior Developer</h5>
                                  <p class="para">
                                    The company itself is a very successful company. Satisfy your troubles with the desire for the pleasure of life, and with our laborious hate, which flees with ease.
    
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="timeline">
                          <div class="left-tl-content">
                              <h5 class="tl-title">Google Inc</h5>
                              <p class="para">2022 - 2024</p>
                          </div>
                          <div class="right-tl-content">
                              <div class="tl-content">
                                  <h5 class="tl-title-2">Lead Web developer</h5>
                                  <p class="para">
                                    The company itself is a very successful company. Satisfy your troubles with the desire for the pleasure of life, and with our laborious hate, which flees with ease.
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="timeline">
                          <div class="left-tl-content">
                              <h5 class="tl-title">Google Inc</h5>
                              <p class="para">2022 - 2024</p>
                          </div>
                          <div class="right-tl-content">
                              <div class="tl-content">
                                  <h5 class="tl-title-2">Lead Web developer</h5>
                                  <p class="para">
                                    The company itself is a very successful company. Satisfy your troubles with desire for the pleasures of life, and with our laborious hate, which flees to the easy way.
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="timeline">
                          <div class="left-tl-content">
                              <h5 class="tl-title">Apple</h5>
                              <p class="para">2024 - Present</p>
                          </div>
                          <div class="right-tl-content">
                              <div class="tl-content">
                                  <h5 class="tl-title-2">Senior Developer</h5>
                                  <p class="para">
                                    The company itself is a very successful company. Satisfy your troubles with desire for the pleasures of life, and with our laborious hate, which flees to the easy way.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </section>
                  <section class="education sect">
                      <h2 class="right-title">education</h2>
                      <div class="timeline">
                          <div class="left-tl-content">
                              <h5 class="tl-title">Aranda School</h5>
                              <p class="para">2011 - 2017</p>
                          </div>
                          <div class="right-tl-content">
                              <div class="tl-content">
                                  <h5 class="tl-title-2">Gcse's</h5>
                                  <p class="para">
                                    The company itself is a very successful company. Troubled by the lust of life
                                    indulgent pleasure
                                    a laborious hatred for us which escapes with ease.
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="timeline">
                          <div class="left-tl-content">
                              <h5 class="tl-title">Roscio Preparatory</h5>
                              <p class="para">2017 - 2021</p>
                          </div>
                          <div class="right-tl-content">
                              <div class="tl-content">
                                  <h5 class="tl-title-2">A - Levels</h5>
                                  <p class="para">
                                    The company itself is a very successful company. Troubled by the lust of life
                                    indulgent pleasure
                                    a laborious hatred for us which escapes with ease.
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="timeline">
                          <div class="left-tl-content">
                              <h5 class="tl-title">University UNERG</h5>
                              <p class="para">2024 - Present</p>
                          </div>
                          <div class="right-tl-content">
                              <div class="tl-content">
                                  <h5 class="tl-title-2">Computer Science</h5>
                                  <p class="para">
                                    The company itself is a very successful company. Troubled by the lust of life
                                    indulgent pleasure
                                    a laborious hatred for us which escapes with ease.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </section>
                  <section class="awards sect">
                      <h2 class="right-title">Awards</h2>
                      <div class="timeline">
                          <div class="left-tl-content">
                              <h5 class="tl-title">Microsoft</h5>
                              <p class="para">June 2022</p>
                          </div>
                          <div class="right-tl-content">
                              <div class="tl-content">
                                  <h5 class="tl-title-2">Excellent Work</h5>
                                  <p class="para">
                                    The company itself is a very successful company. Troubled by the lust of life
                                    indulgent pleasure
                                    a laborious hatred for us which escapes with ease.
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="timeline">
                          <div class="left-tl-content">
                              <h5 class="tl-title">Alphabet Inc</h5>
                              <p class="para">June 2023</p>
                          </div>
                          <div class="right-tl-content">
                              <div class="tl-content">
                                  <h5 class="tl-title-2">The Star Employee</h5>
                                  <p class="para">
                                    The company itself is a very successful company. Troubled by the lust of life
                                    indulgent pleasure
                                    a laborious hatred for us which escapes with ease.
                                  </p>
                              </div>
                          </div>
                      </div><br><br>
                      <form action="/send" method="post">
                        <div class="row">
                          <div class="col-25">
                            <label for="fname">Nombre</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="fname" placeholder="Tu nombre.." name="name" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-25">
                            <label for="lname">Correo</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="lname" placeholder="Tu correo.." name="email" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-25">
                            <label for="subject">Comentario</label>
                          </div>
                          <div class="col-75">
                            <textarea id="subject" placeholder="Comentario.." style="height:200px" name="commentary" required></textarea>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <input type="submit" value="Submit">
                        </div>
                        </form>
                  </section>
              </div>
        
          </section>
          
      </main>
    </body>
  </body>
</html>
